version: '3'
services:
  postgres:
    container_name: postgres
    image: postgres:16
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: brain_agriculture
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    # volumes:
    #   - ./database_dump.sql:/docker-entrypoint-initdb.d/database_dump.sql
    networks:
      - network

  django:
    container_name: django
    image: python:latest
    build:
      context: .
      dockerfile: Dockerfile
    command: sh -c "./setup_dev.sh"
    volumes:
      - ./:/home/app
    ports:
      - "8000:8000"
    environment:
      - DJANGO_SETTINGS_MODULE=brain_agriculture.settings
      - DJANGO_SUPERUSER_USERNAME=admin
      - DJANGO_SUPERUSER_EMAIL=admin@admin.com
      - DJANGO_SUPERUSER_PASSWORD=admin
    tty: true
    stdin_open: true
    networks:
      - network

networks:
  network:
