[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2"
djangorestframework = "*"
django-filter = "*"
factory-boy = "*"
pytest-django = "*"
psycopg2-binary = "*"
drf-spectacular = "*"
uuid = "*"
python-decouple = "*"
dj-database-url = "*"
dj-static = "*"
django-extensions = "*"
django-test-without-migrations = "*"
pillow = "*"
djangorestframework-simplejwt = "*"

[dev-packages]
autopep8 = "*"
flake8 = "*"

[requires]
python_version = "3.11"
